<!DOCTYPE html>
<html>
<head>
  <title>Bertoldi and Co.</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Cinzel:400,700|Suez+One" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'init' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="blue-grey lighten-2" role="navigation" id="top">
    <div class="nav-wrapper container">
      <ul class="right">
        <li><%= link_to :about do %>
          <i class="material-icons left">info_outline</i>Info
        <% end %></li>
        <li><%= link_to :contact do %>
          <i class="material-icons left">message</i>Contact
        <% end %></li>
        <li><%= link_to :home do %>
          <i class="material-icons left">home</i>Home
        <% end %></li>
      </ul>
  </nav>

  <%= yield %>

  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <span class="grey-text text-lighten-4">
            <p>816 - 675 West Hastings Street,<br />
            Vancouver, BC, V6B 1N2<br />
            Tel: 604.628.9333<br>
            Michael Bertoldi's fax: 604.677.5640<br>
            Alan Baggish's fax: 604.677.6253</p>
        </div>
        <div class="col l3 s12"></div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><%= mail_to "mike@bert-law.com" %></li>
            <li><%= mail_to "alan@bert-law.com" %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}" %>
</body>
</html>
